name: api-gateway CI/CD work-flow

env:
  NEXT_PUBLIC_SECRET_JWT_KEY: ${{ secrets.NEXT_PUBLIC_SECRET_JWT_KEY }}
  NEXT_PUBLIC_API_BASE_URL: ${{ secrets.NEXT_PUBLIC_API_BASE_URL }}

on:
  pull_request:
    branches:
      - develop
      - main
    paths:
      - "api-gateway/**"
  push:
    branches:
      - develop
      - main
    paths:
      - "api-gateway/**"

jobs:
  build-develop:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        working-directory: ./api-gateway
      - name: Set up Node 16.x
        working-directory: ./api-gateway
        uses: actions/setup-node@v3
        with:
          node-version: "16.x"
      - name: install packages
        working-directory: ./api-gateway
        run: npm install
      - name: build next
        working-directory: ./api-gateway
        run: npm run build
